doctype html
html
  head
    title Dance Academy | ARS | India
    link(rel="icon", href="/files/d.png")
    block scripts
    block style

  body
    section
      nav
        ul
          div#logo 
             img(src="/files/logo.png", alt="Oops")
             | ARS&copy
          li #[a(href="/") Home]
          li #[a(href="https://en.wikipedia.org/wiki/Dance"  target="_blank") About Us]
          li #[a(href="/files/classes.jpg" target="_blank") Classes] 
          li #[a(href="https://mail.google.com/mail/?view=cm&fs=1&to=danceacademy@ars.com" target="_blank") Contact Us]
          li #[a(href="/enroll" target="blank") Enroll]
  
    block content
    footer All Rights Reserved to ARS Dance Academy! Estd.2000 &copy

   
